body {
    background-color: #f5f5dd;
}

div {
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

.kwadrat-1 {
    background-color: rgb(0, 0, 0);
}

.kwadrat-2 {
    background-color: rgba(0, 0, 0, 0.750);
}

.kwadrat-3 {
    background-color: rgb(0, 0, 0, 0.500); 
}

.kwadrat-4 {
    background-color: rgb(0, 0, 0, 0.250);
}